{% extends "base/base.html" %}
{% load static %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'home/css/homepage.css' %}">
{% endblock stylesheet %}
{% block navbarTopExtention %}
  <!-- TITLE BAR -->
  <div id="center" class="baseTitleBar">
    <h2>Welcome to</h2>
    <h1>{{ site_details.name }}</h1>
  </div>
  <br />
{% endblock navbarTopExtention %}
{% block content %}
  <div id="center">
    <h1>Try Our apps</h1>
    <br />
    <div><a class="goToPollsAppButton" href="{% url 'polls:index' %}" type="button">Let's Goooooo</a></div>
  </div>
{% endblock content %}
