.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 16px;
    width: 250px;
    height: 400px;
    /* Set a fixed height for all cards */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Ensures even spacing between elements */
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
}

.product-name {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #000000;
    text-decoration: none;
    /* Remove underline from links */
}

.product-description {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em;
    line-height: 1.5em;
}

.product-price {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 12px;
    color: #333;
}

.product-rating {
    margin-bottom: 12px;
}

.star {
    font-size: 1.2em;
    color: #ddd;
}

.star.filled {
    color: #f39c12;
}

.product-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.product-button:hover {
    background-color: #0056b3;
}