
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PollyFy{%block title%} | Polls{% endblock %} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'polls/css/base.css' %}" />
        {% block stylesheet %} {% endblock %}
    </head>
    <body>
        <div> 
        {% block navbar %}
        <header class="header">
            <nav class="header__nav" id="navbar">
              <ul class="header__list">
                <li class="header__item"><a href="../" class="header__link">base</a></li>
                <li class="header__item"><a href="about.html" class="header__link">About</a></li>
                <li class="header__item"><a href="services.html" class="header__link">Services</a></li>
                <li class="header__item"><a href="services.html" class="header__link">Contact</a></li>
              </ul>
            </nav>
          </header>
        {% endblock %}
    </div>

        {% block content %}
        {% endblock %}
        
        <script src="" async defer></script>
    </body>
</html>