<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Give a Vote</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{% static '/polls/css/detail.css' %}"></link>
  </head>
  <body>

    <div style="width=100%;">
      
      <form class="poll_form" action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
      <fieldset  class="poll_fieldset">
        <legend><h1>{{ question.question_text }}</h1></legend>

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        
        {% comment %} This for loop generates the choices {% endcomment %}
        {% for choice in question.choice_set.all %}
        <label  for="choice{{ forloop.counter }}" class="container">{{ choice.choice_text }}
          
          <input 
          type="radio"
          name="choice"
          id="choice{{ forloop.counter }}"
          value="{{ choice.id }}">

          <span class="checkmark"></span>
          
        </label>
        
        <br />
        {% endfor %}
    
        <p>Hint: <strong>{{question.hint_set.first}}</strong></p>
        
      
        <div style="width=100%;"><input class="vote_button" type="submit" value="Vote" /></div>
      </fieldset>
    </form></div>
    
    <script src="" async defer></script>
  </body>
</html>
