{% extends "base/base.html" %}
{% load static %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static '/polls/css/detail.css' %}"></link>
{% endblock stylesheet %}
{% block content %}
  <div>
    <form class="poll_form"
          action="{% url 'polls:vote' question.id %}"
          method="post">
      {% csrf_token %}
      <fieldset class="poll_fieldset">
        <legend>
          <h1>{{ question.question_text }}</h1>
        </legend>
        {% if error_message %}
          <p>
            <strong>{{ error_message }}</strong>
          </p>
        {% endif %}
        {% comment %} This for loop generates the choices {% endcomment %}
        {% for choice in question.choice_set.all %}
          <label for="choice{{ forloop.counter }}" class="container">
            {{ choice.choice_text }}
            <input type="radio"
                   name="choice"
                   id="choice{{ forloop.counter }}"
                   value="{{ choice.id }}">
            <span class="checkmark"></span>
          </label>
          <br />
        {% endfor %}
        <p>
          Hint: <strong>{{ question.hint_set.first }}</strong>
        </p>
        <div>
          <input class="vote_button" type="submit" value="Vote" />
        </div>
      </fieldset>
    </form>
  </div>
{% endblock content %}
