* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(39, 39, 39);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  padding:  20px;
}

.poll_form {
  width: 40%;
  min-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.poll_fieldset{
  color: white;
  border-radius: 10px;
  padding: 20px;
}

.poll_fieldset input{
  width:20px;
  height: 20px;
}

.poll_fieldset .vote_button {
  width: 20%;
  height: 50px;
  min-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  font-weight: 700;
  background-color: #009688;
  padding: 10px 20px;
  border-radius: 10px;
  border-width: 0px;
  font-size:16px;
}
.poll_fieldset .vote_button:hover{
  background-color: #00b2a0;
}
.poll_fieldset .vote_button:active{
  background-color: #015950;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #005c53;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #05b0a1;
}

.container input:checked ~ .checkmark {
  background-color: #009688;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 	top: 4.5px;
	left: 5px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: white;
}