.vote_again_button {
    color: white;
    display: block;
    background-color: teal;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    margin: auto;
    text-align: center;
}

.vote_again_button:hover {
    background-color: rgb(1, 145, 145);
}

.vote_again_button:active {
    background-color: rgb(0, 97, 97);
}

.page_title {
  text-align: center;
}

.result_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

.table_content, .table_header, .table_header th, .table_content td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table_content:nth-child(even) {
  background-color: rgb(0, 42, 42);
}