{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'ecomercetest/css/product_card.css' %}" />
{% endblock stylesheet %}

<div class="product-card">
    <img height="300" width="100" src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
    <h3 class="product-name">{{ product.name }}</h3>
    <p class="product-description">{{ product.description|truncatewords:10 }}</p>
    <p class="product-price">${{ product.price }}</p>
    <div class="product-rating">
        {% for i in "12345" %}
            {% if forloop.counter <= product.rating %}
                <span class="star filled">★</span>
            {% else %}
                <span class="star">★</span>
            {% endif %}
        {% endfor %}
    </div>
    <a href="{% url 'ecomercetest:product_detail' product.id %}" class="product-button">Buy Now</a>
</div>